* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

html, body {
  height: 100%;
  width: 100%;
}

.card{
  height: 100px;
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  padding-top: 15px;
}
 
.navbar{
  height: 100px;
  width: 800px;
  border-radius: 20px;
  background-color: black;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a{
  color: pink;
  text-decoration: none;
}